<div class="footer">
  <div class="footer-content">
    <div class="about">
      <header class="header">Headline</header>
      <p class="text">Semple footer text</p>
    </div>
    <div class="reviews">
      <header class="header">Headline</header>
      <p class="text">Semple footer text</p>
    </div>
    <div class="contact">
      <header class="header">Headline</header>
      <p class="text">Semple footer text</p>
    </div>
  </div>
  <div class="icon-socials">
    <svg class="icon">
      <use xlink:href="images/sprite.svg#facebook"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="images/sprite.svg#twitter"></use>
    </svg>
    <svg class="icon">
      <use xlink:href="images/sprite.svg#instagram"></use>
    </svg>
  </div>
  <div class="footer-bottom">
    Website Tamplates credit with Website Bulder Softwear
  </div>
</div>
